@model PontoMap.ViewModel.RegistrarViewModel

@{
    ViewBag.Title = "Solutions Service Auto";
}

<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="slogan">
        <h1>Solutions Service Auto</h1>
        <p>Soluções em Sistema para Pequenas e Medias Oficinas Mecânicas</p>
       
        <br/><br /><br /><br />
        <a href="#tutorial" class="btn btn-skin scroll">Saiba mais</a>
        

    </div>
</section>

<!-- /Section: intro -->


<!-- Section: Tuto -->
<section id="tutorial" class="home-section text-center">

    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Aprenda!</h2>
                        <p>Conheça todo o procedimentos em 4 passos.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="service-box">

                    <div class="service-icon">
                        <i class="fa fa-sign-in  fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Cadastro</h5>
                        <p>Cadastre a empresa e gerencie seus funcionários por meio deste portal web.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-mobile fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Baixe o aplicativo Android</h5>
                        <p>Os colaboradores que irão registrar o ponto devem faze-lo por meio do aplicativo, logando com as credenciais fornecidas por você!</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-file-excel-o fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Relatórios</h5>
                        <p>Aqui você pode consultar e exportar o espelho de ponto e também visualizar a localização exata dos registros via google maps. 
                        Os funcionários também podem utilizar o portal web para acessar e exportar seus espelhos de ponto com as mesmas credenciais do aplicativo.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-cloud fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Integração com Sistemas existentes</h5>
                        <p>Já tem um sistema implantado e precisa apenas da captação dos registros de ponto remoto? Disponibilizamos integração total via webservice com sistemas existentes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: tuto -->

<!-- /Section: intro -->
<!-- Section: about -->
<section id="about" class="home-section text-center bg-gray">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Sobre Nós</h2>
                        <p>Sistema de voltado para Atender a Demanda do Mercado de Serviços em Automoveis e Moto, Facilitando a Vida do Gestor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Carlos Eduardo</h5>
                        <p class="subtitle">Desenvolvedor</p>
                        <div class="avatar"><img class="center-block img-responsive" src="/Content/Ninestars/img/team/Edu.jpg" alt="" /></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Rodrigo Gonçalves</h5>
                        <p class="subtitle">Desenvolvedor</p>
                        <div class="avatar"><img class="center-block img-responsive"  src="/Content/Ninestars/img/team/Rodrigo.jpg" alt=""/></div>
                    </div>

                </div>
            </div>
        </div>
    </div>-->
</section>
<!-- /Section: about -->
<!-- Section: services -->
<section id="service" class="home-section text-center">

    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Nossos Serviços</h2>
                        <p>Já tem um sistema implantado na sua empresa? Não se preocupe nosso solução e nossa Equipe é 100% focada no melhor para o Seu Negocio, Temos Toda a Estrutura para um Migração entre Sistema Rapida e Determinada em Ganhar tempo e Retornar Resultados para o Seu Negócio.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="service-box">

                    <div class="service-icon">
                        <i class="fa fa-file-excel-o fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Importação</h5>
                        <p>Disponibilizamos  acesso sistêmico via Web Service com o qual seus sistemas podem obter os dados via json.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-map-marker fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Bateu o ponto, onde?</h5>
                        <p>Sistema baseado em geolocalização, saiba o local exato onde o seu funcionário realizou o registro de ponto.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-mobile fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Aplicativo</h5>
                        <p>Dê adeus a equipamentos caros e de instalação/manutenção complicada, pontos registrados via aplicativo para celulares e tablets.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-rocket fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Sistema na nuvem</h5>
                        <p>Seus dados 100% protegidos sem os custos de uma infraestrutura local.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
 
<section id="contact" class="home-section text-center">
    <div class="heading-contact marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Entre em contato</h2>
                        <p>Dúvidas e sugestões</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                @*<div class="boxed-grey">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor, nos escreva algo. :)" placeholder="Mensagem"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button type="submit" class="btn btn-skin">Enviar Mensagem</button></div>
                    </form>
                </div>*@

                <div class="widget-contact row">
                    <div class="col-lg-6">
                        <address>
                            <strong>Solutions Service Auto</strong><br>
                            Fortaleza, CE<br>
                            <abbr title="Contato"></abbr> (85) 98634-8410
                        </address>
                    </div>

                    <div class="col-lg-6">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">solutionsserviceauto@gmail.com</a><br />
                           
                        </address>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: contact -->
